html{
    background-color: black;
    background-image: linear-gradient(to bottom,black,darkred);
    background-repeat: no-repeat;
    background-attachment: fixed;
    height:100%;
    color:white;
    font-size:25px;
}
.masterContainer{
    margin:15px 5%;
    width:90%;
    background-color: darkred;
    padding:5px;
}
.item{
    max-width: 20vw;

    display: inline-block;
    margin:5px;
}
.logo{
    width:15%;
    /*display: block;*/
    float:right;
    position: relative;
    top:-90px;
    right:10px;
}
a{
    text-decoration: none;
    color:inherit;
}
a:hover{
    color:darkorange;
}
.previews{
    width:100%;
    
}
.itemList{
    display: flex;
    flex-direction: row;
}
audio{
    width:100%;
    max-width: 300px;
    display: block;
}
.audioPreview{
    margin-bottom: 25px;
}
.table {
    display: table;
}
.row{
    display: table-row;
}
.cell{
    display: table-cell;
    padding-right: 10px;
}
.yellowtext{
    color:yellow;
}
textarea{
    min-width: 250px;
    min-height: 75px;
}
@media only screen and (max-width: 400px){
    audio{
        max-width: 70%;
        display: block;
    }
    .itemList{
        display: flex;
        flex-direction: column;
    }
    .item{
        position: relative;
        width:90%;
        max-width: 90%;
        /*height: 100px;*/
        /*background-color: purple;*/
        display: inline-block;
        margin:5%;
    }
    .logo{
        width:90%;
        margin:5%;
        top:0;
        right:0;
    }
}